<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Cadastro de Pedido</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Tipo de Pedido</mat-label>
      <mat-select [(ngModel)]="pedido.tipoPedido">
        <mat-option *ngFor="let option of listTipo" [value]="option.id">{{
          option.nome
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="nome" [ngModel]="pedido.nome" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput placeholder="telefone" [ngModel]="pedido.telefone" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Endereço</mat-label>
      <textarea class="example-full-width"
        matInput
        [ngModel]="pedido.endereco"
        placeholder="Endereço"
      ></textarea>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="salvar()">
      <mat-icon>check_circle</mat-icon>Salvar
    </button>
    <button mat-button (click)="openDialogItem()" ><mat-icon aria-hidden="false" aria-label="Pesquisar">add_circle</mat-icon>Novo</button>

    <button mat-button (click)="openDialogFechar()" ><mat-icon aria-hidden="false" aria-label="Pesquisar">add_circle</mat-icon>Fechar</button>

  </mat-card-actions>

</mat-card>
