table {
  width: 100%;
  background-color: #eaeaea;
}

th.mat-sort-header-sorted {
  color: black;
}

tr.mat-header-row , mat-header-cell{
    height: 30px;
}

.check {
  text-align: center;
}

mat-card {
  background-color: #eaeaea;
}

mat-form-field {
  margin-right: 12px;
}

mat-select {
  margin-right: 12px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  min-width: 200px;
  max-width: 250px;
  width: 100%;
}

.example-litle-width {
  min-width: 150px;
  max-width: 150px;
  width: 100%;
}

.error {
  padding: 10px;
  width: 300px;
  color: goldenrod;
}

.titulo {
  font-weight: bold;
  color: #6a1212;
  padding: 5px;
  text-align: left;
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.cdk-visually-hidden{
  display: none !important;
}

mat-paginator {
  background-color: #eaeaea;
}
