<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>Cadastro de Pedido</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <section class="container row">
      <div class="item">
        <mat-label>Produto</mat-label>
        <ng-autocomplete
          appearance="fill"
          [data]="listProduto"
          [searchKeyword]="keyword"
          placeHolder="Produto"
          (selected)="selectEvent($event)"
          (inputChanged)="onChangeSearch($event)"
          (inputFocused)="onFocused($event)"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
        >
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.nome" appearance="fill"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound" appearance="fill"></div>
        </ng-template>
      </div>
      <div class="item">
        <mat-form-field>
          <mat-label>Quantidade</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="produto.quantidade"
            (change)="atualizarTotal(produto)"
          />
        </mat-form-field>
      </div>
      <div class="item">
        <mat-form-field>
          <mat-label>Total</mat-label>
          <input matInput type="number" [(ngModel)]="produto.total" readonly="true" />
        </mat-form-field>
      </div>
    </section>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="incluir()">
      Incluir
    </button>
  </mat-card-actions>
</mat-card>

<div>
  <mat-table [dataSource]="lista" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.nome }} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="valor">
      <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.valor }} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="quantidade">
      <mat-header-cell *matHeaderCellDef> Quantidade </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.quantidade }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="acao">
      <mat-header-cell *matHeaderCellDef> Ação </mat-header-cell>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="delete(element)">
          <mat-icon>delete_forever</mat-icon>Excluir
        </button>
      </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
