<div style="margin-left: 20px;">
  <h3>Cadastro de Cliente</h3>
  <div class="example-container">

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Nome</mat-label>
        <input class="example-full-width"
          matInput
          [(ngModel)]="cliente.nome"
          appearance="fill"
        />
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button (click) ="salvar()">
          <mat-icon>check_circle</mat-icon>Salvar</button>
      </mat-card-actions>

  </div>
</div>
