<div class="content">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cadastro de Produtos</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="informe o nome" [(ngModel)]="produto.nome">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Descrição</mat-label>
        <input matInput placeholder="informe a descrição" [(ngModel)]="produto.descricao">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Valor</mat-label>
        <input matInput placeholder="informe o valor" [(ngModel)]="produto.valor ">
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="salvar()" ><mat-icon aria-hidden="false" aria-label="Pesquisar">done_outline</mat-icon>Salvar</button>
    </mat-card-actions>

  </mat-card>

</div>
